html, body, div, img, span, ul, li, section, article {
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	display: block;
	padding: 0;
	font-family: Oxygen;
	color: #fff;
	background-color: #000;
	line-height: 150%;
	border: none;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden !important;
}

#splash {
	background-color: transparent;
	color: #222;
	display: block;
	font-size: 572px;
	font-weight: 700;
	height: 100%;
	line-height: 100%;
	margin-top: 0%;
	position: absolute;
	opacity: 0.5;
	text-align: center;
	width: 100%;
	z-index: 0;
}

#yell-list {
	margin-top: 5%;
	position: absolute;
	width: 100%;
	z-index: 100;
}
.plus0 #yell-list {
	margin-top: 2.5%;
}
.yell-node {
	width: 31%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
}

.plus4 .yell-node,
.plus6 .yell-node,
.plus8 .yell-node,
.plus9 .yell-node {
	float: left;
	margin-left: inherit;
	margin-right: inherit;
	width: 50%;
	padding-left: 10%;
	padding-right: 10%;
	height: 200px;
}
.plus4 .yell-node {
	padding-left: 5%;
	padding-right: 5%;
}
.plus1 .yell-node {
	width: 60%;
	height: 300px;
	margin-top: 40px;
}
.plus2 .yell-node {
	width: 40%;
	height: 190px;
}
.plus0 .yell-node {
	width: 80%;
	margin-top: 18%;
}
.plus6 .yell-node {
	height: 120px;
}
.plus8 .yell-node,
.plus9 .yell-node {
	width: 33%;
	padding-left: 5%;
	padding-right: 5%;
}

.plus9 .yell-node {
	height: 124px;
}

.yell-node > label {
	display: block;
	font-size: 28px;
	padding: 12px 12px;
	text-align: center;
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 5%;
}
